<% include header %>

  <section class="our-mission statement">
    <p class="section-title">
      Our Mission
    </p>
    <p class="section-content">
      Creating awareness through public meetings and other social media to parents. Reaching out to make a world that is free of child abuse and violence against women
    </p>
  </section>

  <section class="our-vision statement">
    <p class="section-title">
      Our Vision
    </p>
    <p class="section-content">
      Our vision is to make a global impact by waging a war against the menace of child abuse, violence against women, which is now a growing concern globally
    </p>
  </section>

  <section class="who-we-are statement">
    <p class="section-title">
      Who We Are
    </p>
    <p class="section-content">
      Esther Child Right Foundation (ECRF) is a non-governmental as well as a non-profit organization. Our resources has impacted positively into the lives of the less privileged people.
			ECRF was founded in the year 2009, March 22nd to address the parents to watch over their wards and children to prevent them from rape and abuse which has become a bane in Nigeria and all over africa.
			Overtime, we have helped children get justice from rape, abuse and violation of their rights as children.
			ECRF is determined to drive parental education about protecting children from various abuses all over Nigeria and the rest of Africa. We also provide special counseling, rehabilitation and legal process for victims.
    </p>
  </section>

  <section class="what-we-do">
    <p class="title">
      What We Do
    </p>
    <div class="group">
      <div class="image">

      </div>
      <p class="text">
        We create awareness on the issues of child abuse and violence in the society
      </p>
    </div>

    <div class="group">
      <div class="image">

      </div>
      <p class="text">
        We protect the fundamental human rights of citizens
      </p>
    </div>
  </section>

  <section class="our-partners">
    <div class="banner">
      <p class="banner-title">
        OUR PARTNERS
      </p>
    </div>

    <div class="partners">

    </div>
  </section>

  <section class="the-team">
    <div class="banner">
      <p class="banner-title">
        MEET THE TEAM
      </p>
    </div>

    <div class="team">
      <div class="main">
        <div class="member-image">

        </div>
        <div class="member-info">
          <p class="name">
            Wisdom Ogwu
          </p>
          <p class="short-bio">
            Managing Director
          </p>
        </div>
      </div>
      <div class="more">
        <div class="member-image">

        </div>
        <div class="member-image">

        </div>
        <div class="member-image">

        </div>
        <div class="member-image">

        </div><div class="member-image">

        </div>
        <div class="member-image">

        </div>
        <div class="member-image">

        </div>
      </div>
    </div>
  </section>

<% include footer %>
