<% include header %>

<div class="jumbotron">
	<img class="jumbo-img" src="/images/children-on-beach.png" />
	<p class="jumbo-text">
  		We Would Love to Hear From You
	</p>
</div>

<div class="contacts">

	<div class="call">
		<p class="heading">
			Call Now
		</p>
		<p class="content">
			08101508605, 08060596143, 07026377966
		</p>
	</div>

	<div class="email">
		<p class="heading">
			Email Us
		</p>
		<p class="content">
			esther.child42@yahoo.com
		</p>
	</div>

	<div class="join-us">
		<span class="head">
			<p>
				Spread the Word
			</p>
		</span>	
		<div class="social medias">
	     <span><a href="https://www.facebook.com/ECRFng/">
	        <p class="inside">
	          <i class="fa fa-facebook-square"></i>
	        </p>
	        <p class="inside">
	          <a href="#">Like us</a>
	        </p>
	      </a></span>

	      <span>
	        <p class="inside">
	          <i class="fa fa-twitter"></i>
	        </p>
	        <p class="inside">
	          <a href="#">Follow Us</a>
	        </p>
	      </span>

	      <span>
	        <p class="inside">
	          <i class="fa fa-youtube-square"></i>
	        </p>
	        <p class="inside">
	          <a href="#">Subscribe</a>
	        </p>
	      </span>
	    </div>
	</div>

</div>

<div class="visit-us">

	<div class="banner">
		<p class="banner-title">
			Rather See Us?
		</p>
	</div>

	<div class="visit-us-today">
    <p class="title">
      Visit Us Today
    </p>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.301992612531!2d3.305496014365268!3d6.609347395220416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b91a8173a964f%3A0x1ec699c11a7da752!2sPako+Bus+Stop!5e0!3m2!1sen!2sng!4v1484681278469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen class="frame"></iframe>
    </div>
    <div class="location-info">
      <div class="info-content">
        <p class="info-title">
          Office Addresss
        </p>
        <p class="address">
          No 91 Abeokuta Express Way, By Pako-Bustop, Beside Zenith Bank, Dopemu, Lagos.
        </p>
        <hr />
        <p class="more-info">
          Need more information
        </p>
        <a href="/learn-more"><button class="contact-us">Contact Us Now</button></a>
      </div>
    </div>
  </div>

</div>

<div class="donate">

	<div class="banner">
		<p class="banner-title">
			Or Just Want To Donate?
		</p>
	</div>


	<div class="bank-info">
		<p class="heading">
			Account Details
		</p>
		<p class="content">
			<b>Account Number: </b> 302423423092834
		</p>
		<p class="content">
			<b>Account Name: </b> Esther Child Rights Foundation
		</p>
	</div>

</div>

<% include footer %>
