    <section class="footer">
      <!-- <div class="subscribe">
        <p>
          Stay Up To Date
        </p>
        <input type="text" id="email" required="true" placeholder="Enter your email"/>
        <button><i class="fa fa-check"></i></button>
      </div> -->

      <div class="site-map">
        <p class="title">
          Site Map
        </p>
        <ul>
          <li>
            Home
          </li>
          <li>
            Learn More
          </li>
          <li>
            Our cases
          </li>
          <li>
            Reach Us
          </li>
        </ul>
      </div>
    </section>

    <script src="/javascripts/scripts.js"></script>
  </body>
</html>
