<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="header">
      <div class="wrapper">
        <div class="logo-wrapper">
          <img class="logo" src="/images/logo.png" />
          <p class="name">
            Esther Child Rights Foundation
          </p>
        </div>
        <div class="navigation inactive">
          <i class="fa fa-bars nav-toggle"></i>
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Learn More</a>
            </li>
            <li>
              <a href="#">Our Cases</a>
            </li>
            <li>
              <a href="#">Reach Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
