<% include header %>

  <div class="jumbotron">
    <img class="jumbo-img" src="/images/woman-and-child.png" />
    <p class="jumbo-text">
      Saying NO to child abuse and violence
    </p>
  </div>

  <section class="who-we-are">
    <p class="title">
      WHO WE ARE
    </p>
    <p class="content">
				Esther Child Rights Foundation is a non-governmental organization as well as a non-profit organization.
         Our resources as impacted positively into the lives of the less privilege people.
         We help children get justice from rape, abuse and violation of their rights as child.
         We also proovide special counseling, rehhabilitation and legal process for vicitims
    </p>
    <div class="other-sections">
      <div class="about-us">
        <div class="circle">

        </div>
        <a href="#">About us</a>
      </div>
      <div class="our-team">
        <div class="circle">

        </div>
        <a href="#">Our Team</a>
      </div>
      <div class="our-gallery">
        <div class="circle">

        </div>
        <a href="#">Our Gallery</a>
      </div>
    </div>
  </section>

<% include footer %>
