<% include header %>

  <!--<div class="jumbotron">
    <p class="jumbo-text">Saying <b>NO</b> to Child Abuse</p>
    <img class="jumbo-img" src="/images/woman-and-child.png" />
  </div>-->

<% include footer %>
