<% include header %>

  <div class="jumbotron">
    <img class="jumbo-img" src="/images/woman-and-child.png" />
    <p class="jumbo-text">
      Saying NO to child abuse and violence
    </p>
  </div>

  <section class="who-we-are">
    <p class="title">
      WHO WE ARE
    </p>
    <p class="content">
				Esther Child Rights Foundation is a non-governmental organization as well as a non-profit organization.
         Our resources has impacted positively into the lives of the less privilege people.
         We help children get justice from rape, abuse and violation of their rights as a child.
         We also proovide special counseling, rehhabilitation and legal process for vicitims
    </p>
    <div class="other-sections">
      <div class="about-us">
        <div class="circle">

        </div>
        <a href="#">About us</a>
      </div>
      <div class="our-team">
        <div class="circle">

        </div>
        <a href="#">Our Team</a>
      </div>
      <div class="our-gallery">
        <div class="circle">

        </div>
        <a href="#">Our Gallery</a>
      </div>
    </div>
  </section>

  <section class="our-cases">
    <p class="title">
      Our Cases
    </p>

    <div class="cases">
      <div class="case">
        <div class="case-photo">

        </div>
        <p class="case-heading">
          Woman sets child ablaze
        </p>
        <p class="case-description">
          It was reported to us that a woman by name "Mrs. Okorocha" set her child....
        </p>
      </div>

      <div class="case">
        <div class="case-photo">

        </div>
        <p class="case-heading">
          Woman sets child ablaze
        </p>
        <p class="case-description">
          It was reported to us that a woman by name "Mrs. Okorocha" set her child....
        </p>
      </div>

      <div class="case">
        <div class="case-photo">

        </div>
        <p class="case-heading">
          Woman sets child ablaze
        </p>
        <p class="case-description">
          It was reported to us that a woman by name "Mrs. Okorocha" set her child....
        </p>
      </div>

      <div class="case">
        <div class="case-photo">

        </div>
        <p class="case-heading">
          Woman sets child ablaze
        </p>
        <p class="case-description">
          It was reported to us that a woman by name "Mrs. Okorocha" set her child....
        </p>
      </div>
    </div>

    <div class="view-more">
      <button>View More</button>
    </div>

  </section>

  <section class="join-us">
    <p class="title">
      Join Us
    </p>
    <div class="social medias">
      <span>
        <p class="inside">
          <i class="fa fa-facebook-square"></i>
        </p>
        <p class="inside">
          <a href="#">Like us</a>
        </p>
      </span>

      <span>
        <p class="inside">
          <i class="fa fa-twitter"></i>
        </p>
        <p class="inside">
          <a href="#">Follow Us</a>
        </p>
      </span>

      <span>
        <p class="inside">
          <i class="fa fa-youtube-square"></i>
        </p>
        <p class="inside">
          <a href="#">Subscribe</a>
        </p>
      </span>
    </div>
  </section>

  <hr class="divider" />

  <div class="visit-us-today">
    <p class="title">
      Visit Us Today
    </p>
    <div class="map">
      <div class="frame">

      </div>
    </div>
    <div class="location-info">
      <div class="info-content">
        <p class="info-title">
          Office Addresss
        </p>
        <p class="address">
          No 43 Ogunlana Street, Egbeda, Lagos Nigeria
        </p>
        <hr />
        <p class="more-info">
          Need more information
        </p>
        <button class="contact-us">Contact Us Now</button>
      </div>
    </div>
  </div>

<% include footer %>
