*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: sans-serif;
}

.wrapper{
  max-width: 950px;
  margin:0px auto;
}

.header{
  line-height: 50px;
  height: 500px;
  background-color: #eee;
  padding:30px;
}

.header .logo-wrapper{
  float: left;
  width:50%;
}

.header .logo{
  height: 50px;
  float: left;
}

.header .name{
  font-weight: bold;
  font-size:1.2em;
}

.header .navigation{
  float: right;
}

.navigation ul li{
  display: inline;
}

.navigation a{
  color: black;
  text-decoration: none;
  margin-left:15px;
}

.navigation a:hover{
  font-weight: bold;
}
