<% include ../header %>
<div class="case-content"><div class="title"><%= title %></div><img src="/images/cases/1_1.jpg"><br>
A four-year-old unnamed girl, has reportedly gone dumb following several sexual assaults on her by her 37-year-old father, identified as Ademola.<br>
<br>
Punch reports that the victim’s 32-year-old mother, Folake, narrated how her husband of 14 years had been molesting their daughter.<br>
<br>
<br>
The mother of four reportedly recalled how they used to live as one happy family in the Igando area of Lagos before things took a grim turn and she caught her husband committing one of the most gruesome crimes against their second daughter.<br>
<br>
She began, “It started in 2013 when I suddenly woke up one night and saw my husband removing the panties of my daughter. It was in the midnight. I wanted to shout but I wanted to see what he was up to. So, I pretended as if I didn’t see him because the room was relatively dark.<br>
<br>
“When he pulled down her pant, he looked around and when he felt convinced that everyone was deep asleep, he stood up and moved to where the girl was and dipped his hand in her private part.<br>
<br>
“I screamed. To say I was shocked would be an understatement. He was shocked too because he didn’t know anyone was watching, so he quickly stood up, pulled up his trousers and started beating me.”<br>
<br>
“The experience I had that night was enough for me to leave his house, but I said I had to stay because I was already pregnant for him at the time. He beat me that night such that blood came out of my body. I didn’t even know I was pregnant until that night and the pregnancy was about two months old from my calculations.<br>
<br>
“I ran away from him for some time and I told my relatives.<br>
<br>
Folake added that she had to go back because of the pregnancy which revealed she was going to have a set of twins.<br>
<br>
“I thought he had changed actually but unknown to me, other things had been going on.”<br>
<br>
“On July 17, 2015, I caught him molesting my daughter again the same way he did before. It was a Friday at about 1a.m. My daughter was sleeping beside me. I saw him stand up and carried the girl to the other side of the bed. He didn’t know I was awake. I had wanted to shout but I wanted to know what he was up to again. So, he removed his trousers, turned his back at me and crawled to where she was lying. He didn’t know I was looking at him.<br>
<br>
“He pulled down her panties and started inserting his finger in her private part again. I thought I was dreaming. I screamed and continued shouting. He was shocked and couldn’t talk. He was just looking. Then, he went back to sleep,” Folake sobbed.<br>
<br>
“The following morning, I challenged him why he was doing that to his own child. I know he is diabolical, so I told him if his plan was to use my daughter for anything evil, he would not prosper. That was what got him angry and he started beating me. He said he would kill me. Then, my other children started crying and shouting, and he didn’t stop until one of our neighbours intervened.”<br>
<br>
Folake’s seven-year-old son, Seun, also alleged that he used to see his father on top of his sister. He reportedly said he had caught him twice in the act of putting his hand under his sister. He explained that his father used to rub his hands all over his sister’s body but he barely knew what he was up to.<br>
<br>
“The following day, I went to the church to report to the shepherd of the church he was attending, Celestial Church of Christ, somewhere around Ikotun in Alimosho Local Government. The shepherd was shocked too but he pleaded with me to exercise patience. Because of the fear of what he could do to us, we left the house and moved to the church and we kept sleeping there.”<br>
<br>
Folake, speaking further said, “My husband is a motor mechanic in Ikotun area. When I and the children started living in the church, he came to there, beat me up and forcefully took away our 17-month-old twins, whom I was still breastfeeding.<br>
<br>
“Since then, the two girls have been in his custody,” Folake added.<br>
<br>
“I reported the matter to the Igando Police Station and also to the Executive Director, Esther Child Rights Foundation, Mrs. Esther Ogwu.<br>
<br>
“She has been helping to monitor the case with the police. Some of the policemen in the station even laughed at me when they heard about the case, I really don’t know why,” the mother of four quipped.<br>
<br>
The Executive director reportedly said it would be in the interest of all if justice was done on the matter, stressing that she would follow the matter to its conclusion.<br>
<br>
Esther said, “We have involved the National Human Rights Commission, Office of the Public Defender and the Lagos State Ministry of Justice in the case so as to ensure justice. It is increasingly becoming important for parents to pay due attention to their children to guard them against assault.”<br>
<br>
Even though a test conducted on the girl at the Mirabel Sexual Assault Referral Centre at the Lagos State University Teaching Hospital, Ikeja, Lagos, confirmed that the girl had been assaulted and her hymen broken, Folake noted that to her dismay, Ademola, had been released on bail by the police, and that the police in Igando had been foot-dragging in taking the case to court.
</div><% include ../footer %>