<% include ../header %><div class="case-content"><img src="/images/cases/2_1.jpg"><br>
<br>
A series of brutal beating of a 16-year-old boy, Lekan Isiaka, has led to the arrest of his father, Monsuru, who was said to have physically abused the boy for about two years.<br>
<br>
Neighbours alerted child rights activists to his case after he started having seizures and it became apparent that the child might lose his life from the frequent beatings he got from his auto painter father.<br>
<br>
<br>
 <br>
Residents of Ile Ibadan area of Ijegun, Lagos, where the single father lived with his son, said anybody who saw the boy and did not know his history might think he was an imbecile because of what his father’s beatings had turned him to.<br>
<br>
When our correspondent met with Lekan and spoke with him, it was apparent the boy was broken, both physically and emotionally.<br>
<br>
Lekan has almost lost the use of his left arm completely, as he couldn’t lift it when our correspondent asked why the arm hung at an awkward angle.<br>
<br>
Most strange was his neck, which had become bent crookedly.<br>
<br>
Speaking haltingly as if each word gave him tremendous pain, Lekan explained that his father beat him one night so brutally and pushed him down from the top of the stairs of their two-storey building apartment.<br>
<br>
“After I landed on the ground, my neck became very painful and I could not move my head. I also could not move my left arm,” he told Saturday PUNCH.<br>
<br>
Asked if his father took him to a hospital after he noticed the injury he sustained, Lekan said his father told him the injury would heal.<br>
<br>
The event Lekan narrated was more than one year ago. The boy can only turn his neck to either side a little and painfully at the moment. But his left arm is still stiff.<br>
<br>
Lekan said sometimes, when his father was angry, he would beat him with the buckle of a belt or knock his head with a stone he kept in the house.<br>
<br>
A resident, who followed Esther Child Rights Foundation officials along with our correspondent to report the case at the Isheri Police Division, explained that it got so bad sometimes that the head of the boy gushed out blood after the father’s beating.<br>
<br>
“My husband had to threaten him with police arrest at a point when the beating was too much. There was a time he was beating the boy with a belt and the hook injured the boy’s head and other parts of his body; I had to seize the belt from him,” the woman said.<br>
<br>
Lekan said in the middle of the night, when his father had just finished smoking Indian hemp, he would tell him to stand up from the bed and face the wall throughout in order to punish him, while he slept.<br>
<br>
Lekan’s story is one that would bring tears to many eyes as a result of the fact that he became the victim of a marriage breakup.<br>
<br>
Lekan’s mother, who has now remarried in Ibadan, separated from the father when the boy was seven years old but the boy lived with her until two years ago.<br>
<br>
Residents told our correspondent that two years ago, Lekan’s mother, brought him back to the father.<br>
<br>
Monsuru<br>
Another neighbour of Monsuru, Mrs. Ada Okeowo, who also made a statement in the police station, said, “The boy was a radiant boy. He was normal. There was nothing like seizures. Lekan’s father told us that his ex-wife’s mother-in-law in Ibadan told him to return the boy to his father if she wanted to keep her marriage.<br>
<br>
“The boy wasn’t having any seizures at all. He was fine and he was playful and friendly. But the beating started and the boy has almost become an imbecile just two years later.<br>
<br>
“There was a time the man left the boy alone at home for a whole one month. We did not know where he went to at the time. We had to make sure we fed the boy for that one month so he did not starve to death.”<br>
<br>
Our correspondent noticed that Lekan’s speech is slow and sometimes becomes faint. It takes him longer to process information when asked any question. But residents said he wasn’t always like that.<br>
<br>
In fact, he could not speak for long and whenever questions were too much, he became confused and simply kept quiet, looking glumly. Each of the questions our correspondent asked him took him a long time to answer.<br>
<br>
“My father would sometimes send me to buy cigarette, Shepe (herbal alchoholic drink), and sometimes Indian hemp. Even though he knew I could not use one of my arms, he always screamed at me to wash his clothes before he came back from work. He usually left N20 for me for the day’s feeding while leaving for work. Sometimes, he left nothing,” Lekan said.<br>
<br>
There were stories that the father would sometimes threaten to kill him and throw him inside a refuse compactor truck.<br>
<br>
But when the neighbours could not take it anymore, they made a report about him.<br>
<br>
However, when our correspondent left with a policewoman and child rights activists to effect the father’s arrest, it was learnt Lekan had another seizure.<br>
<br>
Monsuru feigned ignorance about the boy’s condition when he was later arrested.<br>
<br>
“He is not okay mentally. I only beat him once in a while when he bed-wets. His mother dumped him with me two years ago, but he already had the neck and arm injury when he was brought to me,” he said.<br>
<br>
Asked if he ever took the boy to hospital for treatment or if he ever sought any other form of treatment for the boy’s injuries, Monsuru simply kept quiet.<br>
<br>
An old phone number of Lekan’s mother had not been going through for a long time, so, there is no way of contacting the woman as the boy could remember nothing of his mother’s address in Ibadan.<br>
<br>
The Esther Child Rights Foundation said the boy’s case would be treated like a medical emergency as he needs urgent medical attention.<br>
<br>
Mrs. Esther Ogwu, who runs the organisation said the ministry of women affairs and poverty alleviation of the Lagos State Government and the Human Rights Commission would be notified of the boy’s situation to see what intervention could be offered to assist. She said she expected the man to be charged for the brutality against his son as soon as possible.<br>
<br>
Meanwhile, Lekan’s case has been transferred to the Area M Police Command, Idimu, Lagos, for further investigation as the father remains in custody.<br>
<br>
Copyright PUNCH.<br>
All rights reserved. This material, and other digital content on this website, may not be reproduced, published, broadcast, rewritten or redistributed in whole or in part without prior express written permission from PUNCH.</div><% include ../footer %>