<% include ../header %><div class="case-content"><img src="/images/cases/3_1.jpg"><br>
A 39-year old Nigerian woman has burnt a girl’s thighs with hot iron after accusing her of stealing her N1,000 at Oshodi area of Lagos State.<br>
The woman, Mrs. Kudirat Isekolowo, who lives at  Igbehinadun area of Oshodi, said she did not know what came over her when she carried out the act.<br>
The victim. Inset: Mrs Kudirat Isekolowo.<br>
The victim. Inset: Mrs Kudirat Isekolowo.<br>
The mother of three was arrested by officials of the Lagos State Women Affairs and Poverty Alleviation, WAPA, and Esther Child Right Foundation and brought to the Lagos State Government Secretariat, Alausa, Ikeja.<br>
Traders were close to tears at Oshodi Market where the woman sells clothes, when they saw how the thighs of the 15-year old girl (name withheld) was seriously burnt, leaving permanent deep scars on her body.<br>
The little girl was sent by her parents, who live at Agege area of Lagos, to live with Isekolowo and serve as apprentice in her clothing shop. She started living with her in November 2012.<br>
At the WAPA Ministry, Alausa, there was anger when government officials saw the deep wounds on the girl’s body, while they described the woman as extremely wicked and needed to be punished severely.<br>
Apart from the deep wounds on her thighs, there are also wounds all over her body, occasioned by constant beating and maltreatment.<br>
According to the girl, Kudirat accused her of stealing her N1,000 last week, but she denied stealing the money.<br>
She said the woman plugged a pressing iron and made sure it was very hot and pressed it on her two thighs and one of her hands, leaving deep wounds on her body.<br>
“I am not the one who stole the N1,000. She said I took it and I denied it. She plugged iron and pressed it on my two thighs. My parents live in Agege, they asked me to live with her and learn how to sell clothes as they don’t have money,” she explained.<br>
On why there were other wounds all over her body, she said Kudirat usually beat her with wire. Kudirat admitted carrying out the act, saying that the girl stole her N1,000.<br>
“She stole my N1,000 last week and I don’t know what came over me.  I know what I did is bad.  I don’t know what happened to me when I did it,” she said.<br>
Kudirat wept when she knew that she could go to jail for her wicked act. Even her close friends who came with her felt very bad when they saw the degree of damage to the girl’s thighs.<br>
Executive Director, Esther Child Right Foundation, Mrs Esther Ogwu said she got a call from the founder of Compassionate Women Initiative, Mrs. Mary Olasupo, about a woman who burnt the thighs of a little girl with hot iron.<br>
“We moved in immediately with the WAPA officials and arrested her and brought her to Alausa. At Oshodi market where we arrested her, traders were screaming when they saw the wound in the girl’s body,” she explained.<br>
Esther said it is now left for the state government to prosecute her in accordance with the child right’s law to serve as a deterrent to others.<br>
According to Mary, the founder, Compassionate Women Initiative, “a woman called me some days ago to intimate me about the incident. She told me that a woman had an apprentice, whom she accused of stealing her N1,000 and then used hot iron to burn her two thighs. That was when I called Esther Child Right Foundation for help and they came.”<br>
Officials of the state government have vowed that the woman would be prosecuted and be made to pay for her callous act.</div><% include ../footer %>