<% include ../header %><div class="case-content"><img src="/images/cases/4_1.jpg"><br>
For nine days, Shola (not real name) was in pain. The abdominal pain she endured felt as if a knife got stuck in her, she told Saturday PUNCH.<br>
<br>
She was scared but she had no choice but to endure the pain since she couldn’t imagine telling her parents the unimaginable trauma she had been subjected to that led to the pains she was going through.<br>
“How could I face them? How could I tell them that the man they handed me over to, to help process my admission, had raped me?” Shola said.<br>
But then, much as she tried, she couldn’t continue hiding her ordeal, especially when the pains had <br>
become unbearable. Shola’s parents eventually got to know what their daughter had passed through in the quest of trying to become an undergraduate.<br>
<br>
Eighteen-year-old Shola is one of the numerous hopeful candidates, wishing to secure admission into the University of Lagos. But her score of 211 in the Unified Tertiary Matriculation Examination fell short of the requirement for Mass Communication, which was her choice.<br>
<br>
Her father, who resided in Abesan Estate in Ipaja area of Lagos, had done all he could to ensure that her daughter would become a university student this year but all his efforts seemed to be futile.<br>
“Someone told me to send her UTME registration number. He checked on the university website and said she was not eligible. Not convinced, I went to the school myself to check and it was the same problem. <br>
I had to start making calls to other universities where she could secure admission and someone told me she they could be helped to gain admission into the Olabisi Onabanjo University with that score.<br>
“As soon as the UTME result was released around May, I informed a friend of mine who lives within the estate, who is a lecturer at UNILAG. I took my daughter to him and he promised that when it was time for the post-UTME examination, he would help her out with the process.”<br>
The friend Shola’s father mentioned is Dr. Akin Baruwa, a lecturer in the Department of Accounting, UNILAG, who is also a chairman of one of the community development committees of Abesan Estate.<br>
<br>
Shola’s father explained that when she realised that her result was not being accepted as eligible for Mass Communication, he went back to Baruwa on July 22, 2015 and the lecturer told him to bring his daughter the following morning so he could take her to campus and see how he could help.<br>
“He said they had to take off very early the following morning. I did not suspect anything unusual about that timing because I trusted him. By 4am, I roused my daughter. We prepared and I took her to Baruwa’s house. I did not opt to follow them because I trusted him. I did not imagine that anything untoward could happen,” he said.<br>
Baruwa and Shola took off from Abesan about 5am. She would later return home by 11am. His daughter was noticeably moody as she came home. Two hours earlier, Baruwa had called the father and told him that he had done all he could but that it did not seem her admission would be possible.<br>
“When he told me that, I believed he had done all he could and told my daughter to come back home,” he said.<br>
But it was not the same Shola that home that came back. She was moody and noticeably quiet. She went straight to her room and locked the door.<br>
<br>
In company with child rights activist, Mrs. Esther Ogwu, whom the case was reported to by the family, PUNCH spoke with Shola in private to give details of what actually happened in Baruwa’s office that day.<br>
<br>
It was obvious the girl was trying hard to stay composed. While she spoke, her right hand would go to her lower abdomen occasionally. When asked about it, she explained that she was still feeling some pain, which had reduced a lot since she got treatment.<br>
<br>
Shola said on Thursday, July 23, 2015, as her father handed her over to the lecturer, she still did not suspect anything until they got to around Maryland.<br>
“While I was inside the car, he started to touch my hair and rub my head. I was very surprised and I brushed off his hand. He never tried it again till we got to UNILAG,” Shola alleged.<br>
According to her, while they were on the way, Baruwa was showing her different parts of town, telling her about places she did not know.<br>
<br>
She alleged:<br>
“While we were on the way, he asked if I go out at all and I told him I don’t usually go out. And he would show me a place and say ‘This is Maryland o. You may not know since you don’t go out.’ Then he took me to the Yaba College of Technology. He drove inside and showed me the place. We later proceeded to UNILAG. <br>
When we got to his office, it was about 6.30am. The offices in the building were deserted. He said he liked to be early to avoid traffic. He told me to sit on the couch in his office. <br>
I noticed he was restless. He would stand and go outside sometimes. He asked if I wanted anything, I told him I was fine. He put on the television; I told him I was okay. He put on the air conditioner and I told him I did not want that. <br>
He had already heated water and made Coffee, which he offered to me. I told him I was okay and really did not need that. He then put the hot Coffee on the table. Later, out of respect, I took the cup and sipped a little. I started to feel drowsy not long after that. I did not know why.”<br>
According to Shola’s narration, Baruwa later took her to see a female official in another building who examined her documents and explained further that there was little that could be done on her admission.<br>
<br>
Baruwa reportedly said she might have to opt for diploma.<br>
<br>
Shola claimed that when they went back to his office, the lecturer kept her document on his table.<br>
<br>
She said:<br>
 “He kept standing and moving around the office. Later, he went outside and when he came back inside, he locked the door and kept the key on his table. I did not know what was happening. <br>
A moment later, he told me to pick up a paper for him beside the couch. As I bent down to pick up the paper, he pushed me into a corner of the couch and held me down as he forcibly removed my trousers and underwear.”<br>
PUNCH asked at this point if Shola made any attempt to shout to alert anybody nearby.<br>
<br>
She claimed that she actually screamed but that the way he held her down did not allow her voice to be as audible as she had wanted it to be.<br>
<br>
Shola claimed:<br>
 “If people were around the office, they would have heard me shout. He held me down, and pulled down my trousers and underwear. I screamed and begged him to leave me alone but he did not. <br>
After he had his way, he released me. As soon as I pulled up my trousers, I grabbed the keys to the door and rushed out while he was dressing up. He was walking behind me as I walked downstairs from his office. He said nothing as I walked away crying. He later went back.”<br>
Shola’s father said he had been able to secure a place for her to write her post-UTME examination for an admission into OOU but the young girl has refused to go.<br>
<br>
When Shola was asked why she refused to go, she said:<br>
 “How can I be sure that this same thing would not happen there? I don’t know anybody there. If it happens again, where would I run to?”<br>
PUNCH tracked down Dr. Baruwa a day after speaking with Shola and he gave his version of the encounter.<br>
<br>
According to him, he indeed had a sexual encounter with Shola but it was “consensual.”<br>
<br>
The lecturer, who seemed to be in his early 40s, said he made the mistake of not doing enough to resist the temptation of ‘sleeping’ with Shola.<br>
<br>
Speaking in the front of his house out of earshot of his wife and two children, Dr. Baruwa said:<br>
 “I swear to God that the girl agreed to everything that happened. She was a chatty girl, who did not show any shyness. <br>
It is true that I took her to YABATECH and showed her places. What is not true is that I deliberately took off from home because of any plan to do anything bad to her. I took off from home that early to avoid traffic. <br>
When she was in my office, she was the one telling me to be free with her. I realised that I needed to lie down a little and did not want my shirt to be rumpled. When I pulled it off, she even told me not to mind her presence that since it was my office, I could do whatever I wanted. <br>
When we first got to the office, she lay on my chest and was even playing with my manhood. That was why I could not resist it. After we came back from seeing the woman who was supposed to help with her admission, she was about to go when I told her to give me a hug. It was that which now led to the actual sexual encounter. <br>
When I realised that I could not resist her, I had to tell her to let me put on a condom. The truth is that, while I was putting on a condom, she stood by and waited. I did not actually penetrate. When she was saying ‘it’s enough, it’s enough’ and complaining that her tummy had started hurting her, I stopped.”<br>
Baruwa explained that Shola’s father had sent a cryptic text message to him (days later when he learnt of what happened to his daughter), saying that he had learnt of what he did to his daughter.<br>
“I know I betrayed his trust but nobody would understand it was consensual. I would have reached out to him to beg him if I think it would solve the problem,” he said.<br>
When told that Shola went through more than a week of excruciating abdominal pain, Baruwa explained that if Shola left him the day of the encounter with any sign of hurt, he would have reached out to her to find out how she was doing.<br>
<br>
Two days after this chat with Baruwa, he was arrested by the police and the case is being investigated at the Isokoko Police Division, Agege, Lagos.<br>
<br>
The case has also been reported at the Office of the Public Defender under the Lagos State Ministry of Justice. The Director of the OPD, Mrs. Omotola Rotimi, said the case would be followed to its logical conclusion.<br>
<br>
Director of the Esther Child Rights Foundation, Esther Ogwu, a social worker handling the case, said when the case was first reported to her, the health of the girl was her immediate concern.<br>
<br>
She said:<br>
 “I had to refer them to the Mirabel Sexual Assault Referral Centre in Lagos so that she could get comprehensive treatment. This case is just another reason for girls and young women to be cautious of the issue of sexual assault. <br>
I believe this lecturer had been doing this in the past. It is necessary for girls to be aware and know what to do when in a potentially dangerous situation where they may be assaulted. <br>
I don’t expect him (the lecturer) to admit that he raped her. I knew he would say it was consensual, but I suspect that this is not the first time he would do such thing. Let the law take its course because we don’t know how many other girls are being saved because this case is coming out to the public.”<br>
Baruwa was arraigned before an Ikeja Magistrate’s Court, Lagos on Thursday. He has been remanded at the Kirikiri Prison.</div><% include ../footer %>