<% include ../header %><div class="case-content"><img src="/images/cases/5_1.jpg"><br>
In yet another case of child marriage, the police in Lagos have arrested a 37-year-old man, Michael Ugwu, for taking a 12-year-old orphan, identified simply as Nneka (not real name) as a wife. She was given out in marriage by her grandfather, identified as Abada, a native doctor in Enugu State.<br>
<br>
The girl and Ugwu, who claims to work as a police SPY official at a federal ministry in Lagos, both hail from Aji in Enugu Ezike town, Igbo-Eze North Local Government Area of Enugu State.<br>
<br>
<br>
 <br>
A police source hinted that Ugwu, had gone to the Ipaja Police Division, Lagos to report that “his wife” ran away from home and had since been missing, but that it was until they found the girl, through the help of one of his neighbours, that they knew he actually got married to a minor.<br>
<br>
Ugwu was then detained.<br>
<br>
“He came and reported that his wife absconded and that he even took a loan from a bank to marry her. He   even sounded drunk when he came to the station. When we saw the minor he called wife, we had to detain him to get more information, because a 12-year-old girl is not ripe for marriage, so we had to ask him more questions,” the source said.<br>
<br>
Ugwu told our correspondentthat the girl’s grandfather willingly gave her out to him in marriage at their hometown in Enugu State. He added that there was a traditional marriage to that effect on January 20, 2016 in the village, attended by about 50 persons, including community elders, the girl’s grandfather and other villagers.<br>
<br>
He noted he never saw anything wrong with taking the girl as a wife because there were elders at the event and they gave their blessings to the union, adding that the girl’s grandfather, who also happened to be his old time friend, had assured him that the girl was “not a small girl.”<br>
<br>
Clearing his throat intermittently, his account of the story was like listening to a thriller. He explained that he had been under pressure from his family members to get married, and when he visited the village earlier in the year, he and Abada, whom he described as a retired Biafran soldier, went to have a drink.Ugwu said he paid the bills and told his friend he needed a woman to marry.<br>
<br>
He continued, “Abada was happy I paid for his drinks, and he assured me he would introduce me to a girl. He said I might not be able to take care of a woman he wanted to give me but that he had another one for me. The following morning, I visited him with a friend of mine.<br>
<br>
“He asked for N500 and I gave him. Around 10pm, he brought a girl to my house. I was about sleeping then. He said the girl he brought for me is his child and that he would want me to marry from their place. I asked if the girl is up to the right age, he said yes; that she was not a small girl. He said he needed to give the girl out in marriage so that she would not get unwanted pregnancy. I said okay.<br>
<br>
“He brought the girl again the following morning. He asked that I shook hands with the girl and I did. He said I should not joke with the offer because someone else had even shown interest in the girl but that he wanted me to marry her. He said I should come with one carton each of beer and malt to ‘knock the door’ as the tradition demands. We call it ‘Omenala’. He gave me the list of items to buy for the introduction.”<br>
<br>
Ugwu told our correspondent in company with the director of Esther Child Rights Foundation, Esther Ogwu, that due to the number of things he had to buy and the money for the dowry, he took a loan of N200,000 from his bank.<br>
<br>
In his words, “During my first visit, I went with one carton of beer and malt. During my second visit for the introduction, the items I bought, according to the list I was given, included a jar of palm wine worth N30,000, eight cartons of beer worth N16,000, two cartons of malt worth N3,000, amount spent on cooking to entertain the guests cost N11,000, two laps of pig meat worth N6,000, 30 kolanuts worth N2,800, two packets of cigarette worth N400 and dowry of N33,000. I was there with some of my family members.<br>
<br>
“At the event, even though she didn’t give me wine as required traditionally and we didn’t put on same attire, Abada gave her to me and told us to kneel down and he prayed for us. He said he expected us to come back with children. The two times the girl was brought to my house and on the day of the introduction, she wore high heels, which made her look taller and mature.<br>
<br>
“At that time, I didn’t see her as too young, and as our elders in the village supported it, I thought it was right. I am a heavy drinker, maybe that is why I was confused and the pressure from my people to get married made me to rush into it. Then, the girl’s grandfather is a herbalist, I don’t know whether he covered my eyes because now I regret my actions.<br>
<br>
“I came back to Lagos with the girl in February. I think I was hypnotised for me to have taken that loan because now, my salary is being deducted monthly to pay back the loan.”<br>
<br>
Asked whether he had been having sexual relationship with the girl as her husband, he said he had never slept with her, but that he made the attempt twice but he was not successful, as he could not penetrate, so he left her.<br>
<br>
In what seemed like a deep regret of his actions, Ugwu queried why he had to marry a minor when there were many “big and mature girls” in Lagos that he could marry. “I think the man used a charm to hypnotise me,” he explained, saying, “Otherwise, how would I have married such a young girl without knowing it.”<br>
<br>
He told Saturday PUNCH, “That is part of the reasons why I regret my actions. I love the girl but she didn’t respond when I tried ‘it’ because there was ‘no way’. How would I have a wife at home and I would still go out to satisfy myself (sexually). A doctor even advised me not to sleep with her because she was too young to be pregnant. I made two attempts to sleep with her but no way. I didn’t force her. In my life, I had never deflowered any woman.”<br>
<br>
Meanwhile, the issue took a dramatic turn when Ugwu’s pastor in church paid him a visit and found the girl in his house. He said the pastor was shocked to know she was his wife and that he was ordered to take the girl back to her parents.<br>
<br>
“My pastor said if I needed a wife, I should go and look for another woman,” he added.<br>
<br>
He said when he told Nneka to prepare to go back home, based on his pastor’s advice, the girl said she wasn’t ready to go until December. He pointed out that he didn’t know the girl was planning to run away.<br>
<br>
On the day she ran away, the 37-year-old civil servant, who said he had never been married before then, said he was with a friend around the house, when she came to collect the key to the house, that she forgot hers inside and that by the time he got back home, she had packed all her belongings. He said he informed his pastor and then reported to the police.<br>
<br>
He said it was few days after she ran away from home that Abada called him to return his granddaughter. “He said I stole his granddaughter and that I should give the phone to the girl that he wanted to talk to her but I told him he would talk to her later because that was when the girl was missing,” he added.<br>
<br>
A police source who briefed our correspondent further said the girl, who had been kept in safe custody, ran to stay with a woman, a petty trader, in their area.<br>
<br>
The source added, “We asked why she ran away, she said the man had tried to sleep with her twice but she couldn’t take it, so after the second attempt, she ran to a woman whose daughter she had met in Ayobo earlier. She said there was a time she had no money to feed and she had to sell the radio she brought from the village to raise money for food.<br>
<br>
“She confirmed to us that her grandfather gave her out in marriage to the man.  She told us Abada had also wanted to give her sister out in marriage but she ran away from home and they had yet to know her whereabouts till date. The girl told us she would have loved to go back to the village, but she fears her grandfather might give her out to another man.<br>
<br>
“She is an orphan and she and her sister had been in the care of Abada, their grandfather, since they lost their parents. She confirmed to us that she is 12 years old, and even people in their compound told us she used to play with other children in the compound, because she is still small.<br>
<br>
“We asked a retired officer in that area of Enugu State if that was the practice there, but he said no, and that it was not a norm in their village. Meanwhile, a lawyer from the village said that sort of marriage is not out of place. We were shocked to hear a lawyer say that.”<br>
<br>
“Ugwu’s sister said when he told them he took a loan, they thought he would use it to develop his house in the village, but that when he told them he had got married, they were happy for him, but that when they saw the wife, they knew something was wrong.<br>
<br>
Ugwu said he might not have made the mistake if his mother were to be hale and hearty as she would have advised him, but that she had been sick for a long time.<br>
<br>
In her reaction, Ogwu, who had taken up the matter for the intervention of the Lagos State Ministry of Women Affairs and Poverty Alleviation, commended the police for doing a good job, saying the case was clearly one of child abuse. “However, we need to make sure that the grandfather is brought to book. The girl is an underage because she is just 12. We call on the Enugu State Police Command to ensure that Abada is arrested and prosecuted accordingly, for giving out a 12-year-old girl in marriage,” she added.<br>
<br>
Currently, the girl is in the custody of WAPA, while the Lagos Public Advice Centre has also intervened in the matter.<br>
<br>
On the step to be taken by WAPA on the issue, the director of Children Affairs in the Ministry, Mrs. Alaba Fadairo, promised to get back to our correspondent.<br>
<br>
Also, when contacted, the Spokesperson for the Lagos State Police Command, DolapoBadmos, had yet to pick her calls.<br>
<br>
His Enugu State counterpart, Ebere Amaraizu, said the command would swing into action as soon as it is briefed by the Lagos State Command or a formal report is made to the command on the matter.<br>
<br>
Copyright PUNCH.    <br>
All rights reserved. This material, and other digital content on this website, may not be reproduced, published, broadcast, rewritten or redistributed in whole or in part without prior express written permission from PUNCH.</div><% include ../footer %>